[2020-01-02 16:54] the-code-creator opened #1 "Feature request: Add releases to a playlist"
Hello, I really like the Spotify tool.
I have a feature request: There should be an option to put all new releases of your followed artists into a private playlist.
You should be able to specify a starting date, for example 2020-01-02
All songs, which get released after that date, will be automatically added to the playlist.
If the playlist reaches a specified limit (e.g. 9500 songs), then a new p

[2020-01-02 20:08] jakubito commented on #1
Hello Michael,
Thanks for the suggestion. I put it on my to-do list :)

Cheers,
Jakub

[2020-01-02 20:14] the-code-creator commented on #1
### 🥳

[2020-02-10 12:41] jakubito commented on #1
Hello @the-code-creator 👋

I just released new version with the ability to create playlists from existing releases. Enjoy!

Jakub

[2020-02-10 12:41] #1 closed, assigned to nobody

[2020-02-18 18:12] KatyLB opened #2 "Track didn't appear despite being released"
So, I'm not sure if this is a bug, but because the list is supposed to catch everything I'm going to report it anyway.

Today The Strokes released a new song called Bad Decisions. It's on Spotify [here](https://open.spotify.com/track/6e2pJqucDMxbp061B40r6O). I follow them, but it didn't appear on the list for today, despite refreshing. For some reason it didn't catch it.

[2020-02-18 18:37] jakubito commented on #2
Hi @KatyLB,

Thank you for the bug report. I just tried following The Strokes, refreshing the list and it shows up correctly. Can you please try again and see if the issue still exist?

I think the problem is on Spotify end - there are times when Spotify endpoints return an error for no reason. It's pretty rare and the error lasts only for a few minutes, but it can happen.

<img width="795" alt="i

[2020-02-18 22:31] KatyLB commented on #2
I tried again, and it still isn't showing. I tried unfollowing and following as well.

[2020-02-18 22:32] KatyLB commented on #2
Actually, now it is showing. Not sure if unfollowing/refollowing is what helped (which wouldn't be useful for tracking) or if it just showed eventually. It took two refreshes to appear, though...

[2020-02-19 00:06] jakubito commented on #2
Good to know it's showing up now. I think unfollowing/refollowing does not have any impact and  this issue is related to https://github.com/spotify/web-api/issues/1311

The way it's working now is actually intended - when Spotify fails to return data for specific artist, the app suppresses the error and shows the rest of data.

I believe this is Spotify Web API bug and there's not much I can do he

[2020-02-20 04:52] #2 closed, assigned to nobody

[2020-11-15 01:01] livioavalle opened #3 "Feature request: Add notification of new release"
Hi, i really like and enjoy the app.
I think that the app will be better with a sort of system that notify the new release, directly from chrome or maybe something like a telegram bot? It can be a very useful addition, so the user don't miss new release. Thanks and i appreciate your job.✌

[2020-11-16 10:41] capellavacancies commented on #3
Usually I hate browser notifications but this is the only kind of notification I'd love to receive.

Thanks for the recent update
ps
If you add this feature please don't forget about firefox support

[2020-11-17 05:09] protonize commented on #3
I don't think it's really neccesary. Releases are updating when it's 0:00 in your country so you'll get all of them in a moment.

[2020-11-17 07:23] livioavalle commented on #3
That's not the point. With notifications, you don't need to open the site to find out if new songs have been released. Without notifications every day I should open the site. For me it's also a like a reminder, otherwise I would often forget to open the site.

[2020-11-18 10:13] jakubito commented on #3
Hello, thank you for your suggestion.

I've been asked to implement notifications before, but due to technical limitations, it wasn't quite possible (implicit grant flow returns tokens valid only for 1 hour). I did some new research recently and it seems that Spotify now supports [PKCE Authorization Code Flow](https://developer.spotify.com/documentation/general/guides/authorization-guide/#authoriz

[2020-11-18 12:34] livioavalle commented on #3
Perfect, i will wait for it

[2020-11-21 14:27] mockerianer opened #4 "Not showing me all releases anymore"
Hi Jakub! Unfortunately the app doesn't show me all releases anymore since yesterday evening. I have it open in my Safari on my Mac and I use it as an app on my Samsung Phone. Do you have any idea why this happens? I cleared my cache already but no idea otherwise. I really need this app as it helps me run a music blog so much! Thanks a million!

[2020-11-21 19:06] jakubito commented on #4
Hi @mockerianer!

I'm sorry you are experiencing issues. I have a few questions to start with:

- does it affect all artists or just a single one? What exactly is missing?
- do you get different results on your phone compared to desktop?
- are you runnning `v1.7.6`?
- do you get any errors in [javascript console](https://balsamiq.com/support/faqs/browserconsole/)?

Thank you for your cooperation,

[2020-11-21 21:43] mockerianer commented on #4
Thanks a million for answering so quickly!
Let's figure this out!

My phone version seems to be back to normal!
Safari browser is only showing me 2 artists out of 700 that I follow for the past month and for Friday 20.11. it is showing me only two releases, whilst my phone is showing me 50.

Yes, it says version 1.7.6 on Safari.

I just tried on Chrome and that seems ok actually!
83 errors in java

[2020-11-21 22:06] jakubito commented on #4
I just tried it in desktop Safari and I'm not seeing any errors. I'm getting the same results no matter what browser or device I test it on 🤔

Can you please post a screenshot of the console so I can see the errors? Thanks!

[2020-11-21 22:17] mockerianer commented on #4
No problem!
<img width="1280" alt="Bildschirmfoto 2020-11-21 um 22 17 00" src="https://user-images.githubusercontent.com/74825320/99888815-5c6ed680-2c47-11eb-89ff-bba0761623ba.png">

[2020-11-21 22:58] jakubito commented on #4
These errors are actually expected - status **429** only means the browser has to wait a couple of seconds before firing more requests. I don't see any relevant errors being thrown.

Can you please try to disable all Safari extensions, [clear all website data](https://www.whatismybrowser.com/guides/how-to-clear-cookies-browsing-history-and-cache/safari) and try again? Also, make sure you have the

[2020-11-22 09:40] ghost commented on #4
I have a same problem. If I have the Appearence box checked then the list is showing me all releases. Even those who only have one artist for example the new King Gizzard & The Lizard Wizard or Shygirl album. If I uncheck the Appearence box these albums are gone. But they should be there, because it's not an appearence right?
Maybe spotify changed something with the meta data.

I hope I could help

[2020-11-22 15:09] MattSuda commented on #4
I have been using this app for several months now and I really enjoy using it. I follow tons of artists and it makes the job of keeping up with new music easier. I've linked to this app in the Spotify Community on my idea post since Spotify has not included a feature like this many years after the post. But I am glad you made this app because anything Spotify would have built wouldn't have been th

[2020-11-22 15:10] MattSuda commented on #4
I think I found what the problem is. For my settings I usually have "albums, singles, and compilations" turned on, but I usually have "appearances" turned off. I tested with "albums and singles" turned on ONLY and it seems to be working correctly now with only "albums and singles" selected. (It appears to be fine with this work around, not 100% sure though)

So until that's fixed that's the work a

[2020-11-22 18:32] sc113 commented on #4
Yeah, in the latest update compilation checkbox stopped working well. It just doesn't include compilations anymore as it was before.
Compilations filter is just gone (with enabled compilations in the settings). And when compilations are enabled (with appereances disabled) in the settings - most of albums\singles dissappear for some reason.

[2020-11-22 22:34] jakubito commented on #4
Thank you all for your input, I've been able to identify the bug! It is indeed related to the "improvements" I made to the releases fetching algorithm recently. I'm gonna fix this ASAP, sorry for the inconvenience!

@MattSuda I know exactly what you're talking about. I have to go through those generic compilations every day. The problem is, Spotify defines them as appearances and there is no easy

[2020-11-23 00:16] jakubito commented on #4
@mockerianer @jokerbygithub @MattSuda @sc113

This should be fixed now. Can you please test again? Make sure you are running `v1.7.7`

[2020-11-23 06:43] MattSuda commented on #4
You're welcome! 🙂

Yes it seems to be fixed now. Thank you! Also the improvements result in a much faster refresh time now. What used to take 10+ minutes for me with lots of artists now just takes a few minutes.  (especially on the "last year" option)

Ah that's a bummer about the appearances on generic compilations. We might just have to put up with them then. I think a label block list could als

[2020-11-23 08:12] jakubito commented on #4
@MattSuda I think a new filter option for hiding releases that include "Various artists" is even better than the label blocklist. I believe it would filter out most of the rubbish 👍  Thanks!

I'm also happy it's faster for you now. I believe this is the fastest we can get with the current Spotify API.

[2020-11-23 17:49] sc113 commented on #4
Not being able to check 1.7.7, since I used it on spotifyreleaselist.netlify.app, and there's still 1.7.6.

Regarding VA albums, I guess the perfect would be to implemet a combination of both - the option to ignore VA releases from specific labels. In electronic music it's not a rare thing when the label release VA compilations with never-released-before tracks from different artists ([1](https://

[2020-11-23 17:57] MattSuda commented on #4
It might take a few refreshes to get the latest version.

That suggestion sounds great if it's possible. Blocking VA albums from certain labels.

[2020-11-23 18:13] sc113 commented on #4
Oh, right. It was not updating until I've deleted the cookies and now it's 1.7.7. Everything seems working just great now.

[2020-11-24 06:02] jakubito commented on #4
Thank you again for reporting this

[2020-11-24 06:02] #4 closed, assigned to jakubito

[2020-11-24 12:29] mockerianer commented on #4
No problem! Thanks for fixing it!!

[2020-11-25 13:03] S0und opened #5 "Feature request: Indicate release type"
Right now there are 4 types we can choose from: Albums, Singles, Compilations, Appearances. Personally i use Albums and Singles. But when you see your results, it's not obvious which result is what. So for example i would like to listen to something, new which would be an album, but those albums are "lost" in the "sea of Singles".

https://i.imgur.com/GFZfNoh.png

Can we have an icon in front of e

[2020-11-26 03:11] jakubito commented on #5
Hello @S0und,

I tried to implement this before, but eventually scrapped the idea of using icons. I felt the user interface became too cluttered and hard to read.

I came up with a new idea though - making title colors customizable per group. I think it would solve the problem quite nicely, while still keeping the UI clean. What do you think?

This is an example of how it could look like (colors w

[2020-11-26 13:18] S0und commented on #5
I think it looks fine, does the job well, without adding extra clutter.

[2020-11-26 22:46] mockerianer opened #6 "Not showing releases for day after"
Sorry Jakub, also just noticed that it doesn't show releases that are scheduled for day after anymore.
It used to show me releases that are upcoming for day after the day before, like around 4pm or so.
Any idea why that would be?

[2020-11-26 23:49] jakubito commented on #6
@mockerianer You have to manually change the market setting to a country like New Zealand or Australia. By default, the country that is associated with your Spotify account is being used - that's why you can't see anything in advance. Beware, this may make some releases not playable with your account (some releases are region-locked).

[2020-11-30 18:50] #6 closed, assigned to nobody

[2020-12-06 17:04] morningscifi commented on #3
An e-mail digest of new albums from my followed artists would be amazing, too. It's really what I've wanted from Spotify all along: a plain weekly or biweekly e-mail that tells me which of my followed artists has a new full length album.

However, I could also just send myself a weekly e-mail that reminds me to check your website. I'm hesitant to suggest any changes, since I believe the site is ne

[2020-12-06 23:13] jakubito commented on #3
@morningscifi Thank you.

I'm afraid e-mail notifications are out of the scope of this project. The biggest blocker is the fact it's a client-only application. That means it can only do background checks while the website is actually running in a browser tab. Therefore, it can't do anything while your computer is turned off. This is a decision I made at the beginning based on my personal needs. It

[2020-12-07 22:33] livioavalle commented on #3
Are you already working on it?

[2020-12-08 05:10] jakubito commented on #3
@livioavalle Not yet, I've been busy. I'm hoping for early next year

[2020-12-11 18:19] sc113 opened #7 "Feature request: Sorting options"
It would be more helpful to sort releases by artist's name for every day instead of release title

[2020-12-12 01:48] jakubito commented on #7
@sc113  Are you proposing to keep the alphabetical order of artists within a release and sort by the first one in the list? Trying to figure out how to handle releases with multiple artists 🤔  But I agree, it would be more useful than what we have now

[2020-12-12 05:27] jakubito commented on #7
I pushed this change as part of `v1.7.10` release, let me know what you think @sc113

[2020-12-12 08:13] sc113 commented on #7
Yeah, it looks much better, thank you!

But there are few problems regarding prioritizing main artist or multiple artists:

1) the album's main artist vs collaborations\features.
- [https://open.spotify.com/album/755yBlrk0Sz8tIgMMTgyr1](https://open.spotify.com/album/755yBlrk0Sz8tIgMMTgyr1)
I follow The Avalanches and most artists from the collaborations on the album. By the logic, it should be fi

[2020-12-12 08:29] sc113 commented on #7
Perhaps, it might be useful if albums were on the list with the main artist as well.

Currently, the list format is:
#Release title
#Followed artists, #Additional artists & album's artist

But it may be more helpful to use
#Album's artist
#Release title (or #Album's artists - #Release title)
#Followed artists, #Additional artist

And then the whole list sorted by "Album's artist"

It would also he

[2020-12-24 12:43] jakubito commented on #7
Hi @sc113,
please check out the newest version `1.7.11`

Followed artists are now ordered by album group they belong to, in this order:
**ALBUM** -> **SINGLE** -> **COMPILATION** -> **APPEARS_ON**

I hope you will find it better than it was before. I know it doesn't solve the second problem you described, but I decided to keep the followed artists being displayed first (the main problem is insuffi

[2020-12-24 19:09] sc113 commented on #7
Yeah, it really became better, and the second case is much less common and not as confusing as the first one, so it is fine. Thank you!

[2020-12-24 19:50] #7 closed, assigned to jakubito

[2021-01-12 21:50] profucius opened #9 "Feature request: Add songs to a pre-existing playlist"
Great app! I use this weekly. I'd really like to be able to add new songs to a pre-existing playlist. Currently, when doing an Export, it asks to create a new playlist. Even if I name the playlist the same as a pre-existing one, it still creates a new playlist with the same name.

Please add this feature into your app! Thanks!

[2021-01-12 21:53] profucius opened #10 "Feature request: Scheduler for adding new songs to playlist"
Would it be possible to add a feature to your app which sets an automated schedule for doing a Refresh and then Export of the songs to a playlist? This goes hand-in-hand with my other feature request of adding songs to a single playlist.

Both of these together would make it so that I never miss out on new songs from the artists that I like on Spotify. I don't always remember to load your app to d

[2021-01-13 02:09] Mookiies opened #11 "Compilations show even if deselected in options"
Even when I exclude compilations a ton of them end up showing in the results. Some of these albums seem to be labeled explicitly by spotify as compilations which made me suspect this is a bug?

Filtering by various artists does an excellent job of getting rid of them so that also made me wonder if this is an issue that someone tried to solve and ended up with a hack-ish solution?

Below is an exam

[2021-01-13 02:11] Mookiies commented on #11
Album info in case it is useful:
[code]

[2021-01-13 21:28] jakubito commented on #11
This is because `album_group` field is used to categorize releases. Regarding the compilation you posted, Spotify API returns `appears_on` for artists you follow (Ice Cube, No Doubt, UB40), therefore the compilation is saved under "Appearances". I admit this is a bit confusing, but it's not a bug. The various artists filter has been added to work around this.

Difference between `album_group` and

[2021-01-14 09:42] Mookiies commented on #11
👍 Makes sense that its an API limitation so not much can be done. The workaround works great to filter them out anyways.

Only suggestion I can think of is maybe adding some sort of text if compilations are deselected as the workaround may be hard to find.

[2021-01-14 09:42] #11 closed, assigned to nobody

[2021-01-14 10:49] jakubito commented on #9
Glad you like the app! The feature you requested would be nice to have but I don't consider it as important as other features on my to-do list (Especially #5 and #3). I'll keep this open as a low priority task.

As a workaround, you can use the desktop Spotify app to select all tracks within a playlist (CMD/CTRL + A) and drag and drop them to your other playlist.

[2021-01-14 11:25] jakubito commented on #10
I'm afraid this is out of the scope of this project. Exporting to a playlist is not a core feature and it's meant to be used manually for smaller, filtered data. The idea behind this app is to have a clean interface showing individual releases instead of going through a playlist with massive amount of tracks being added to every day. There is also a technical limitation - everything is running loc

[2021-01-14 11:26] #10 closed, assigned to nobody

[2021-01-15 15:00] profucius commented on #9
Thank you for considering this feature.

I would like to add the fact that I am requesting this for the purposes of automating my playlist-updating workflow. I use macro tools (e.g. WinAutomation) on my computer to automate clicks, website access, processes, etc. This feature itself would **greatly** improve my workflow, as it would keep everything in a single playlist, removing the need for me to

[2021-01-15 15:06] profucius commented on #10
Just to clarify before you fully close this out, perhaps a misunderstanding. My goal would be to automate this workflow using a macro tool on my computer.

Currently, I already have my macro tool load your app inside a webkit browser app I've created just for your app, and then it carries through a series of screen clicks and keyboard shortcuts to 1. Refresh, 2. Export, and 3. Copy the playlist UR

[2021-03-18 05:10] FiftyFour7250 opened #12 "For Spicetify?"
Hey. I know it's outside of your project, but maybe you'd be interested? Do you know about [Spicetify](https://github.com/khanhas/spicetify-cli)? This is tool for modifying the appearance and capabilities of Spotify. [It also has New Releases](https://github.com/khanhas/spicetify-cli/wiki/Extensions#new-release), but unlike your site, it doesn't show Appearances,  only Albums and Singles, which is

[2021-03-25 06:40] jakubito commented on #12
Hi, thanks for the suggestion. I didn't know about Spicetify until now.

I've looked into it and I think I'll pass. I don't have time and motivation for maintaining another project and making sure it's working properly in all future versions of Spicetify/Spotify. I'm already too slow delivering new features on my app and can't imagine committing myself to a new project like this.

[2021-05-03 16:38] #12 closed, assigned to nobody

[2021-05-04 19:41] 72Tysiak opened #13 "Spicetify 0.9.9 error"
Since the new update for spotify got released (2nd or 3rd May) I can't use the spicetify due to an error.
![Zrzut ekranu (1274)](https://user-images.githubusercontent.com/62675898/117058979-975d5600-ad1f-11eb-8156-a63ca1a2b643.png)
When I use 'spicetify restore backup' in cmd then Spotify run normally but in vanilla so without themes. Once I tried to reinstall Spotify and I used 'spicetify backup

[2021-05-04 19:46] 72Tysiak commented on #13
I thought I write it in khanhas profile but I am kinda stupid and I can't use GitHub barely at all. If u want to help me I leave u link:
https://github.com/khanhas/spicetify-cli/issues/552

[2021-05-04 19:46] #13 closed, assigned to nobody

[2021-05-05 18:38] mzur opened #14 "Feature Request: Filter out duplicate entries"
My release list contains many duplicate entries like this:

![image](https://user-images.githubusercontent.com/2457311/117192083-9b51ac80-ade1-11eb-9625-f33c86d260cd.png)

Do you have an idea what could cause this? I'm willing to contribute if you can point me in the right direction.

[2021-05-05 22:05] jakubito commented on #14
Hi Martin,

What you are seeing is not a bug - it is exactly the same data that is returned from Spotify API. Sometimes, an album is represented by multiple entries, each with a unique ID and different copyright wording. I'm not sure why labels do this, I assume there are some legal reasons behind it. If you search for London Grammar, you will see it's the same for the rest of their music too:

![

[2021-05-06 05:03] mzur commented on #14
Maybe an opt-in to filter out entries with the same date, title and artist name would be a reasonable compromise. Even if you can't be sure that its the same title etc. the probability to filter out the wrong thing should be low (and its opt-in).

[2021-05-23 17:57] rinyafii opened #15 "Feature Request: Saving/Pinning albums to be listened to later and checking off songs you have listened to already"
Hi! I really like this app.
This has been amazing, but there is one thing I wish it had. Some kind of "save for later" system to remember albums for later and/or a system that lets you hide songs you have already listened to.

When i'm going though my releases, I like to listen to all the singles first. Then I go back through and listen to the albums since they take more time. It's a bit hard reme

[2021-05-25 04:12] jakubito commented on #15
I like this 👍   having some kind of favorites system could be useful. You could then filter by favorites and subsequently export them to a playlist.

[2021-06-02 07:45] jakubito commented on #5
This is now available in [v1.8.0](https://github.com/jakubito/spotify-release-list/releases/tag/v1.8.0)

[2021-06-02 07:45] #5 closed, assigned to jakubito

[2021-06-02 23:05] jakubito opened #17 "Add a new filter to exclude remixes"
Having the ability to filter out remixes would be a useful way to reduce clutter.

I think the most obvious and straightforward way to detect a remix release is to check for `remix` string inside a title (case-insensitive). This would be visually similar to the existing `Exclude Various Artists` checkbox filter.

[2021-06-02 23:27] jakubito opened #18 "Change authorization flow to use PKCE"
Spotify recently introduced a better authorization flow that is suitable for web apps and returns refreshable tokens. This should eliminate token expiration errors and improve the user experience (fewer OAuth dialogs and redirects).

Documentation can be found here:
[Authorization Code Flow with Proof Key for Code Exchange (PKCE)](https://developer.spotify.com/documentation/general/guides/authoriz

[2021-06-02 23:48] jakubito commented on #3
Blocked by #18

[2021-06-19 06:12] jakubito commented on #18
[v2.0.0](https://github.com/jakubito/spotify-release-list/releases/tag/v2.0.0)

[2021-06-19 06:12] #18 closed, assigned to jakubito

[2021-06-19 06:25] jakubito commented on #3
Hello, background auto refresh and notifications are now included in [v2.0.0](https://github.com/jakubito/spotify-release-list/releases/tag/v2.0.0). Unfortunately, these features are not available on phones because of the limitations of being a client-only web app.

[2021-06-19 06:25] #3 closed, assigned to jakubito

[2021-06-19 15:31] sc113 opened #19 "Feature Request: Blacklisting labels"
As was discussed here: #4
Some VA albums are notable and equal to albums with the new tracks, but most VA compilations are worth to be ignored. The same labels are responsible for most of the unworthy compilations and it would be useful to add them to the blacklist, instead of disabling all VA releases.

[2021-06-20 07:03] sc113 opened #20 "Feature Request: Number of tracks in the release"
This would be useful for distinguishing repetitive releases, and in some other specific cases.

[2021-06-24 00:49] capellavacancies commented on #20
I do agree, but I think it could be even better to get advantage of the new spotify release tag: album, ep, single. I wonder what criteria spotify-release-list used before this to distinguish between different kind of releases. btw I still think that plain number of tracks could be useful

[2021-06-24 20:21] jakubito commented on #20
@sc113 Thanks for the suggestion.

@capellavacancies I'm not aware of anything new - which new tags are you talking about? The app has always used `album_group` property for categorizing releases.

[2021-06-24 20:30] jakubito opened #23 "Filter by label"
Filtering by label would be very useful, especially within music scenes being run by smaller labels. This will be an opt-in feature because label data have to be fetched extra.

[Original thread](https://github.com/jakubito/spotify-release-list/discussions/22)

[2021-06-25 00:30] teiraaa opened #24 ""Invalid request" every time I try to log in"
The website just logged me out and any time I try to log in back again a red pop-up shows saying "Invalid request", I've tried this on two devices already and I've changed the password and it still says the same -- is there any problem w/ the API?

[2021-06-25 21:19] sc113 commented on #19
I forgot to mention that it will be important to blacklist only certain types of releases (VA or compilations) from a particular labels.

[2021-06-25 21:35] jakubito commented on #24
I've tested desktop Chrome and mobile Safari and I'm not seeing any issues. Which browsers are causing the error? Can you confirm the version says **2.0.0 (b67d20f)**?

[2021-07-03 05:47] puzatt commented on #24
![Screenshot_20210703-084357__01](https://user-images.githubusercontent.com/86867423/124344499-3e088a80-dbdb-11eb-92f0-21dc1020b802.jpg)
![Screenshot_20210703-084332__01](https://user-images.githubusercontent.com/86867423/124344500-3f39b780-dbdb-11eb-955e-de6271e1f436.jpg)

Mobile chrome, desktop chrome, mobile opera

[2021-08-01 04:28] ghost opened #25 "Invalid request Problem"
it's shows me "Invalid request" when i try to login from brave browser desktop

[2021-08-08 02:37] jakubito commented on #14
[v2.0.1](https://github.com/jakubito/spotify-release-list/releases/tag/v2.0.1)

[2021-08-08 02:37] #14 closed, assigned to nobody

[2021-08-09 11:28] mzur commented on #14
Thanks a lot for implementing this! Unfortunately I found that Spotify makes this even harder with different upper- and lowercase characters :unamused:

![image](https://user-images.githubusercontent.com/2457311/128698951-dfd082c1-1096-4f51-91a4-d9da1f0875f9.png)

Maybe the filter should only use lowercase titles.

[2021-08-10 04:52] jakubito commented on #14
@mzur This is now fixed in [v2.0.2](https://github.com/jakubito/spotify-release-list/releases/tag/v2.0.2)

[2021-08-10 05:51] mzur commented on #14
Thanks, you're awesome 😊

[2021-08-18 14:54] EtzBetz opened #26 "Color Picker does close after first click"
In the recent version of spotify-release-list, in the "app", the color picker bugs out on my system. I click on the color that I want to change, the picker opens fine. Now when I click on a color or on the color-range bar, the picker closes on mousedown and either uses the color i just entered, or (seems to be dependant on popup and click position) just uses #000000 as color. also, when he would a

[2021-08-18 19:35] jakubito commented on #26
Thanks, not sure how I missed this. Will fix it asap.

[2021-08-18 20:39] EtzBetz commented on #26
You're welcome :)

Thanks for this nice client.

[2021-08-20 06:09] mzur commented on #14
Spotify also swaps round brackets with square brackets :facepalm: I don't think that these duplicates can also be filtered out without handling every single edge case, so this information is just for the record.

![image](https://user-images.githubusercontent.com/2457311/130187797-9b45ba1a-122b-498a-b5eb-6770345635b3.png)

[2021-08-20 06:35] jakubito commented on #14
Ugh, this is very annoying. I don't think Spotify is to blame for this though. As far as I understand, it's a distributor's responsibility to submit properly named releases. I honestly have no idea why they submit the same release twice, only with different brackets in the title. It makes no sense 🙄

I will update the filter to treat all brackets the same, but I'm sure there are other edge cases.

[2021-09-10 22:34] ghost commented on #25
I'm having the same issue. Microsoft Edge Version 93.0.961.44 (Official build) (64-bit).

[2021-10-02 19:19] affinage commented on #14
Found one more case: different apostrophe signs.

screenshot from spotifyreleaselist:
<img width="873" alt="Screen Shot 2021-10-02 at 10 12 36 PM" src="https://user-images.githubusercontent.com/4787857/135729216-0d7fa3d5-251e-41bb-9e54-452089368ffa.png">

screenshot from spotify
![1633202163656](https://user-images.githubusercontent.com/4787857/135729279-cc8ba88f-ac35-42bd-bbaf-a4aa2d05502d.png)

[2021-10-14 08:14] jakubito commented on #26
Fixed in [v2.0.3](https://github.com/jakubito/spotify-release-list/releases/tag/v2.0.3)

[2021-10-14 08:14] #26 closed, assigned to nobody

[2021-10-14 08:16] jakubito commented on #14
@mzur @affinage The filter has been updated in [v2.0.3](https://github.com/jakubito/spotify-release-list/releases/tag/v2.0.3) to address edge cases you provided.

[2021-10-15 04:39] jakubito commented on #25
@beshoyy @twilightened Can you please try to update to `Version 2.0.4 (db23b88)` and let me know if the problem still persists? Thanks.

[2021-10-15 04:39] jakubito commented on #24
@teiraaa @puzatt Can you please try to update to `Version 2.0.4 (db23b88)` and let me know if the problem still persists? Thanks.

[2021-11-07 06:25] jakubito commented on #15
Added in [v2.1.0](https://github.com/jakubito/spotify-release-list/releases/tag/v2.1.0)

[2021-11-07 06:25] #15 closed, assigned to nobody

[2021-11-11 14:12] meteorsquare opened #27 "Getting logged out and Settings resetting"
I am logged out after opening the browser and need to log in again. The filters and other settings also resetto default so I have to see again a bunch of (garbage, "unofficial" third party) compilation releases that some artists I follow appear on.

I was using Brave Browser.

<img width="1381" alt="Screenshot 2021-11-11 at 22 13 12" src="https://user-images.githubusercontent.com/58662679/14131284

[2021-12-08 06:21] schwartzadev opened #28 "Include releases from artists whose songs I've saved"
I'd love to see this as an enhancement and I'd be interested in adding the feature myself if it's something the maintainers would support!

This is a really neat platform, but I feel like it's of limited use to me since I typically save songs from artists that I like, and only rarely actually follow those artists.

I'm imagining a feature (perhaps disabled by default) where users can toggle to inc

[2021-12-14 09:32] jakubito commented on #28
Thanks for sharing the idea, I like it! I'm the only developer/maintainer on this project - feel free to create a PR and I will be happy to merge it if it looks good.

I don't see this in your outline above, but you will also have to ask for additional scope [user-library-read](https://developer.spotify.com/documentation/general/guides/authorization/scopes/#user-library-read), which makes it a lit

[2021-12-14 09:45] jakubito commented on #27
I've had multiple users reporting problems with the Brave browser. I'm not sure what the problem is, but I assume it has something to do with the browser preventing the app from saving data locally (probably some kind of data size cap). Unfortunately, I don't have time to look into this right now, sorry.

[2021-12-17 03:41] ElenaLe01 opened #29 "Add an option for the week to start on Sunday"
Can you please add an option for the week to start on Sunday?

[2021-12-19 00:59] schwartzadev commented on #17
I can take this on!

[2022-01-22 09:14] jakubito commented on #29
[v2.3.0](https://github.com/jakubito/spotify-release-list/releases/tag/v2.3.0)

[2022-01-22 09:14] #29 closed, assigned to jakubito

[2022-01-22 09:15] jakubito commented on #20
[v2.3.0](https://github.com/jakubito/spotify-release-list/releases/tag/v2.3.0)

[2022-01-22 09:15] #20 closed, assigned to nobody

[2022-01-22 09:28] ElenaLe01 commented on #29
Thank you!

[2022-02-07 09:09] somegirl commented on #28
This is a great enhancement, but just a thought - personally I'd love to see a setting for minimum number of songs liked - in other words, I'm not interested in new releases for every artist who has one song I've liked, but if I've liked, say, three or five of their songs, then I'd want to include them. It would be great if the setting is fully customizable (i.e. I could pick any number I want - 3

[2022-02-08 01:57] jakubito commented on #19
[v3.0.0](https://github.com/jakubito/spotify-release-list/releases/tag/v3.0.0)

[2022-02-08 01:57] #19 closed, assigned to nobody

[2022-02-08 01:57] jakubito commented on #23
[v3.0.0](https://github.com/jakubito/spotify-release-list/releases/tag/v3.0.0)

[2022-02-08 01:57] #23 closed, assigned to nobody

[2022-02-08 05:27] jakubito commented on #24
No response; closing this for now

[2022-02-08 05:27] #24 closed, assigned to nobody

[2022-02-08 05:27] jakubito commented on #25
No response; closing this for now

[2022-02-08 05:27] #25 closed, assigned to nobody

[2022-02-08 06:59] jakubito commented on #27
I'm closing this one. I can't support every browser that decides to block basic browser features, such as localStorage/IndexedDB. Maybe there is a way to add an exception within Brave to allow saving data locally? I don't really know. If that's not possible, please use any other modern browser to use this app.

[2022-02-08 06:59] #27 closed, assigned to nobody

[2022-02-09 01:40] jakubito commented on #28
A great idea @somegirl, I'll make sure to include a setting for the minimum number of songs liked

[2022-02-12 07:55] Erik262 opened #32 "Replace last created "New Release" Playlist"
Very nice tool!!!

I'm curious about whether it is possible to replace the previously created playlist with the new one, created from this tool again? Now it is always creating a playlist with the same name.

[2022-03-14 21:56] affinage opened #33 "Duplicated artist names"
For some reasons, on today's (Mar 14th) list refresh some of the releases are showing artists I'm following twice.

![image](https://user-images.githubusercontent.com/4787857/158267624-83ccc3e7-7a6d-43de-8cf0-c284a6297524.png)
![image](https://user-images.githubusercontent.com/4787857/158267692-dd983620-9635-42fc-aba9-649c30036467.png)

[2022-03-16 09:58] affinage commented on #33
not repro right now, maybe it was some glitch on api side
<img width="1102" alt="image" src="https://user-images.githubusercontent.com/4787857/158564568-3701d6bd-a059-404d-846f-14ced6e7af47.png">
closing the issue.

[2022-03-16 09:58] #33 closed, assigned to nobody

[2022-03-19 16:43] FreekBes opened #34 "Add "Past 2 weeks" time period option"
First of all, great application! I'm using it as my homepage on my web browser so that I never miss new releases.

However, I use the website on multiple computers, and due to it using local storage, sometimes it's been more than a week since it last refreshed. I'm following quite a lot of artists on Spotify, thus when refreshing, everything tends to get quite slow. This might not be related to th

[2022-03-25 06:29] jakubito commented on #17
[v3.1.0](https://github.com/jakubito/spotify-release-list/releases/tag/v3.1.0)

[2022-03-25 06:29] #17 closed, assigned to jakubito

[2022-03-25 06:33] jakubito commented on #28
This is partially done in [v3.1.0](https://github.com/jakubito/spotify-release-list/releases/tag/v3.1.0)
I forgot to add the minimum number of songs liked option. I will include it in a later release

[2022-03-25 06:34] jakubito commented on #34
[v3.1.0](https://github.com/jakubito/spotify-release-list/releases/tag/v3.1.0)

[2022-03-25 06:34] #34 closed, assigned to nobody

[2022-03-26 00:17] jakubito commented on #28
[v3.1.1](https://github.com/jakubito/spotify-release-list/releases/tag/v3.1.1)

[2022-03-26 00:17] #28 closed, assigned to schwartzadev

[2022-03-26 00:50] somegirl commented on #28
Very nice! I was inspired to make a small donation. (If I ever hit the big bucks I'll make sure to give more. ;-) )

[2022-04-11 15:58] cbeust opened #35 "Feature request: recurring email"
Would it be possible to set up for example a weekly email that lists all the upcoming releases?

[2022-04-11 18:02] jakubito commented on #35
Upcoming releases are not supported by Spotify API

[2022-04-11 18:02] #35 closed, assigned to nobody

[2022-06-07 18:13] JeffreyThiessen opened #36 "Signing in on spotifyreleaselist.netlify.app is broken"
The following steps were taken to encounter this problem.

1. Click the Login with Spotify button
2. Sign in with spotify and agree
3. get redirected back to the app, but the following error occurs
![image](https://user-images.githubusercontent.com/16961365/172452258-28a30ab1-ceb7-40c1-ad29-febfb4edc45e.png)

I also captured the console errors
![image](https://user-images.githubusercontent.com/169

[2022-06-07 18:24] JeffreyThiessen commented on #36
This seems to be a chromium only issue, as I can sign in on Firefox.

[2022-07-10 10:50] Erik262 opened #37 "fetch difference"
Hello, is there a setting to only fetch the music that differs from the previously fetched one?

[2022-07-13 22:30] jakubito commented on #37
Hi, this is not possible, unfortunately. The Spotify API doesn't offer such functionality. I optimized the fetching algorithm to be as fast as possible with the current limitations of the API, and I don't think it can be improved any further. If anyone has any ideas on how to make it even faster, please let me know

[2022-07-13 22:30] #37 closed, assigned to nobody

[2022-08-09 17:04] NewUAM opened #38 "Filtering viewed releases in the list"
Sorry for my English, I'm writing from Ukraine.

New releases in the list often appear in 2-3 days. I don't know if others have this problem. Maybe it happens to me because of the large number of tracked artists (about 2000, I need them to create playlists for my project).

I'm not technically strong, but I suspect the problem is on Spotify's side. Therefore, there is such a proposal: to give the

[2022-08-10 14:03] shelaffs opened #39 "Customize Artists Tracked"
Hi there! I just started using this tool today and really appreciate that it exists! I love the ability to export all new releases into a playlist for the easiest listening experience.

I'm wondering if there is a way to customize the artist list, similar to how you have a block list for labels.

For example, my settings are set to pull new releases from all followed artists, and those I have 3+ s

[2022-08-25 08:29] capellavacancies commented on #19
A question about this feature, I'd like to block a label called Geomagnetic Records, its name gets displayed on spotify like this:
Geomagnetic Records
2022 Geomagnetic Records
© 2022 Geomagnetic Records
℗ 2022 Geomagnetic Records

Which line should I use ?
Thanks

[2022-08-30 06:59] jakubito commented on #19
@capellavacancies The easiest way to block a label is to do the following:

1. Enable extra data fetching ![Screen Shot 2022-08-29 at 23 49 45](https://user-images.githubusercontent.com/8123702/187369792-16339cc0-bfef-4606-b0fb-a9f38cce62a2.png)
2. Display labels ![Screen Shot 2022-08-29 at 23 49 55](https://user-images.githubusercontent.com/8123702/187369809-d8971045-9378-452b-907b-b9178b269580.p

[2022-09-21 23:34] jakubito commented on #36
I have tested the app in Chromium and it works just fine. `ERR_BLOCKED_BY_CLIENT` error indicates the request is blocked by a browser extension. Do you use any privacy-related extensions? I had a person who reported the same problem before and it turned out to be an extension called "Privacy Badger" [that blocks all communication to Spotify API](https://github.com/EFForg/privacybadger/issues/137).

[2022-09-21 23:34] #36 closed, assigned to nobody

[2022-10-06 10:37] capellavacancies opened #40 "Custom Search"
Hello, question: is there a way to search for a specific month/year in the past ?
like

October 2021
or
Year 2020

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/58681964/194292014-7fabbdde-bcb5-42de-9b89-107cdea82cb0.png">

[2022-10-12 03:00] jakubito commented on #40
You can override "Time period" setting by changing "days" property in the import setting screen. Just change it to something like `1000` to get past 3 years of releases. Beware, this is not officially supported and may take a long time

![image](https://user-images.githubusercontent.com/8123702/195238652-b899f988-ae68-4d38-b972-d30998856767.png)

[2022-10-12 03:00] #40 closed, assigned to nobody